.clicktoaction > div {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (width >= 768px) {
    flex-direction: row;
  }

  & > div {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    a:any-link {
      font-size: 22px;
      color: #000;
      font-weight: 700;

      @media (width >= 768px) {
        font-size: 14px;
      }

      @media (width >= 900px) {
        font-size: 20px;
      }
    }

    &.divider {
      hr {
        border-color: #e8e4dc;
        width: 100vw;

        @media (width >= 768px) {
          width: auto;
          height: 101px;
          transform: rotate(15deg);
        }
      }
    }

    &:first-child a {
      span {
        border-left: 7px solid #40a66a;
      }
    }

    &:nth-child(3) a {
      span {
        border-left: 7px solid #944a99; /* Adjusted to correct color value */
      }
    }

    &:nth-child(5) a {
      span {
        border-left: 7px solid #199bda; /* Adjusted to correct color value */
      }
    }
  }
}

.arrow-left {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  display: inline-block;
  border-left: 7px solid #000;
  margin-left: 3px;
}
